
.input-form{
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
}

#desk{
    border: 1px solid red;
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;
}

.desk-card{
    border: 1px solid red;
    width: 90%;
    margin: 0 auto;
    
}

/* .desk-card :hover{
    border: 1px solid red;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);    
} */

#modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(80, 6, 90, 0.5);
    display: none;
}

#modal__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    margin-right: -50%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
}

.input-form :hover{ 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    padding: 3px;
}